<template>
  <div class="container">
    <h3>Для получения результатов запроса "Купить лопату"<br> с трех поисковиков нажми на кнопку<br> "старт"</h3>
    <div class="box">
      <button @click="start">старт</button>
    </div>
  </div>

</template>

<script>
export default {
  name: "App",
  methods: {
    start(){
      chrome.runtime.sendMessage({start: "start"});
    }
  }
}
</script>

<style>
body {
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(45deg, rgb(17, 19, 18), rgb(82, 182, 98));
  background: -moz-linear-gradient(45deg, rgb(17, 19, 18), rgb(82, 182, 98));
  background: linear-gradient(45deg, rgb(17, 19, 18), rgb(82, 182, 98));
}
.container {
  width: 400px;
  margin: 0 auto;
}
button {
  padding: 10px;
  background-color: #0080ff;
  color: white;
  border-radius: 10px;
  font-size: 20px;
}
h3 {
  color: white;
  text-align: center;
  line-height: 30px;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>