<template>
  <div class="container">
    <h1>Результаты поиска</h1>
    <div class="flex">
      <div class="box" v-for="(title, index) of titles" :key="index">
        <h2>{{title.name}}</h2>
        <ul>
          <li v-for="(data, index) of title.data" :key="index">{{data}}</li>
        </ul>
      </div>
    </div>
    <div class="btn-box">
      <button @click="change">Найти совпадения</button>
    </div>
    <div v-if="visible" class="result">
      <div v-if="filtered.length"></div>
      <h1 v-else>Совпадений не найдено</h1>
    </div>
  </div>
</template>

<script>
export default {
  name: "App",
  data(){
    return {
      arr: {},
      filtered:[],
      visible: false
    }
  },
  computed: {
    titles(){
      return this.arr
    }
  },
  methods: {
    change(){
      const arr1 = this.arr.arrGoogle.data;
      const arr2 = this.arr.arrYandex.data;
      const arr3 = this.arr.arrMail.data;
      let filtered = arr1.filter(el => arr2.includes(el));
      this.filtered = filtered.filter(el => arr3.includes(el));
      this.visible = true;
    }
  },
  mounted() {
    chrome.runtime.sendMessage({getArr: "all"}, (response) => {
      this.arr = response.searchData;
    });
    console.log('create');
  }
}
</script>

<style>
body {
  background: -webkit-linear-gradient(135deg, rgb(93, 167, 58) 30%, rgb(206, 223, 61));
  background: -moz-linear-gradient(135deg, rgb(93, 167, 58) 30%, rgb(206, 223, 61));
  background: linear-gradient(135deg, rgb(93, 167, 58) 30%, rgb(206, 223, 61));
}
.container {
  margin: 0 auto;
  max-width: 1500px;
  padding-top: 30px;
}
.box {
  width: 480px;
  border: 1px solid black;
  background-color: rgba(128, 128, 128, 1);
}
.flex {
  display: flex;
  justify-content: space-between;
}
h1 {
  text-align: center;
  margin: 30px 0px;
}
h2 {
  color: rgba(0, 0, 255, 1);
  text-align: center;
}
.btn-box {
  display: flex;
  justify-content: center;
}
button {
  padding: 20px;
  margin: 10px;
  background-color: #0080ff;
  color: white;
  border-radius: 10px;
}
.result {
  width: 500px;
  height: 500px;
  padding-top: 30px;
  background-color: rgba(128, 128, 128, 1);
  border: 1px solid black;
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
</style>